<html>

<head>
<title>Compare Gifs</title>
</head>

<body>

<h3>Two parameters</h3>
<img src="Proportion_correct.gif">
<h3>One parameter</h3>
<img src="Proportion_correct_beta_parameter.gif">

</body>
</html>
